<div class="container mt-3">
  <div class="mx-4">
    <div class="content">
        <h2 class="text-white pt-4 text-center">PEACE FOR UKRAINE</h2>
    </div>
    <div class="content-lower"></div>
    <h3 class="text-white my-2">Trending</h3>
    <div class="images">
        <div class="  trending me-1">
            
        </div>
        <div class=" trending me-1">
            
        </div>
        <div class=" trending me-1">
           
        </div>
        <div class="trending me-1">
          
        </div>
        <div class="trending me-1">
            
        </div>
        <div class=" trending me-1">
            
        </div>
        <div class=" trending me-1">
           
        </div>
    </div>
    <h3 class="text-white my-2">Artist</h3>
    <div class="row ">
        <div class="col-md-4">
            <div class="artist"></div>
        </div>
        <div class="col-md-4 ">
            <div class="artist"></div>
        </div>
        <div class="col-md-4 ">
            <div class="artist"></div>
        </div>
    </div>

    <h3 class="text-white mt-3">Clips</h3>
    <div class="row">
        <div class="col-md-7 clip1">

        </div>
        <div class="col-md-5">
            <div class="clip2 me-1 mb-1"></div>
            <div class="clip3 me-1 mt-1"></div>
        </div>
    </div>
    <h3 class="text-white mt-3">Stories</h3>
    <div class="row">
        <div class="col-md-6 ">
            <div class="stories1"></div>
        </div>
        <div class="col-md-3">
            <div class=" stories2"></div>
        </div>
        <div class="col-md-3">
            <div class="stories3"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class=" stories2"></div>
        </div>
        <div class="col-md-3">
            <div class="stories3"></div>
        </div>
        <div class="col-md-6 ">
            <div class="stories1"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class=" stories2"></div>
        </div>
        <div class="col-md-3 ">
            <div class="stories1"></div>
        </div>
        <div class="col-md-3">
            <div class="stories3"></div>
        </div>
        <div class="col-md-3">
            <div class="stories3"></div>
        </div>
        
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class=" stories2"></div>
        </div>
        <div class="col-md-6 ">
            <div class="stories1"></div>
        </div>
        <div class="col-md-3">
            <div class="stories3"></div>
        </div>
        
    </div>
  </div>
</div>

<app-giphy-detail></app-giphy-detail>
